.pagination {
  margin-top: 20px;
  display: flex;
  &__page {
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 3px;
    &--selected {
      background: #4B5157;
      color: #ffffff;
    }
  }
}
