<section class="section-modal section-sign-in" [formGroup]="form">
  <h2 class="section-modal__title">Войти</h2>
  <div class="section-modal__close" (click)="dialogRef.close()">
    <mat-icon class="icon">close</mat-icon>
  </div>
  <label class="label-input-custom" for="login">
    Логин
  </label>
  <input placeholder="Логин" id="login" type="text" formControlName="username" class="input-custom section-modal__input">
  <label class="label-input-custom" for="password">
    Пароль
  </label>
  <input placeholder="Пароль" id="password" type="password" formControlName="password" class="input-custom section-modal__input">
  <div class="section-modal__wrap-button">
    <button class="button-custom button-custom_blue" (click)="signIn()">Войти</button>
    <button class="button-custom button-custom_gray">Забыли пароль?</button>
  </div>
  <div class="section-modal__sign-up">
    Нет аккаунта?
    <a class="link-custom" (click)="openRegistration()">Зарегистрироваться</a>
  </div>
</section>
