<section class="section-rating">
  <div class="header">
    <h2 class="section-rating__title">Рейтинг</h2>
    <app-select class="selector" [items]="tourLabels" [(ngModel)]="technology" (ngModelChange)="loadRating()"></app-select>
  </div>
  <mat-table [dataSource]="rating.content" class="mat-elevation-z8 section-rating__table table-rating table-custom">
    <ng-container matColumnDef="login">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="faculty">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Факультет </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.department?.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="user">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Пользователь </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.firstName}} {{element.secondName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rating">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Рейтинг </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.rating}} </mat-cell>
    </ng-container>

    <mat-header-row class="table-custom__header" *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="table-custom__row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

<app-pagination [itemsCount]="rating.totalElements" [pageSize]="30" (changePage)="setPage($event)"></app-pagination>
</section>
