<section class="section-news">
  <div class="section-news__header">
    <h2 class="section-news__title">Последние новости</h2>
    <mat-icon class="section-news__icon-add icon-clicked" *ngIf="isAdmin" matTooltip="Добавить новость" (click)="openAddNewsModal(FormMode.ADD)">add</mat-icon>
  </div>
  <div class="news-set">

    <article class="news" *ngFor="let news of setNews">
      <header class="news__header">
        <h3 class="news__title">
          {{news.title}}
        </h3>
        <div class="actions" *ngIf="isAdmin">
          <mat-icon class="news__edit icon-clicked" (click)="openAddNewsModal(FormMode.EDIT, news)">edit</mat-icon>
          <mat-icon class="news__delete icon-clicked" (click)="deleteNews(news.id)">delete</mat-icon>
        </div>

      </header>
      <p class="news__info">
        {{news.description}}
      </p>
      <footer class="news__footer">
        <span class="news__date">{{news.dateCreated | date: "MMM dd"}}</span>
      </footer>
    </article>
  </div>

</section>
