.section-modal {

  &__wrap-button {
    display: flex;
  }
  .button-custom_blue {
    margin-right: 15px;
  }

  &__sign-up {
    margin: 15px -30px 0;
    padding: 20px 30px 0;
    border-top: 1px solid #D9DADB;
  }
}

.wrap-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  align-items: flex-end;
  margin-bottom: 15px;
}

textarea {
  margin-bottom: 15px;
}
