<section class="section-profile" [formGroup]="form">
  <h2 class="section-profile__title">Профиль</h2>
  <div class="profile-card">
    <div class="wrap-image">
      <img class="profile-card__image" [src]="image ? image : '/assets/images/noImage.png'" alt="">
      <label>
        <div class="hover">
          обновить фотографию
        </div>
        <input class="input-file" #fileInput type="file" accept="image/png, image/jpeg, image/jpg"
               (change)="handleFiles($event.target.files)" name="poster[]">
      </label>
    </div>
    <div class="profile-card__info">
      <div class="profile-card__name">{{user.firstName}} {{user.secondName}}</div>
      <div class="profile-card__about" *ngIf="!isUpdate">{{user.description}}</div>
      <textarea class="profile-card__about input-custom section-modal__textarea" *ngIf="isUpdate" formControlName="description"></textarea>
      <button class="profile-card__edit-button button-custom button-custom_blue" *ngIf="!isUpdate" (click)="goToUpdate()">Редактировать</button>
      <button class="profile-card__edit-button button-custom button-custom_blue" *ngIf="isUpdate" (click)="save()">Сохранить</button>
    </div>
  </div>
</section>

<section class="section-trophy">
  <h2 class="section-trophy__title">Рейтинг</h2>
  <div class="trophy-set" [ngStyle]="{gridTemplateColumns: 'repeat(' + user.ratings.length + ', 1fr)'}">
    <div class="trophy" *ngFor="let rating of user.ratings">
      <div class="trophy__title">{{rating.key.technology}}</div>
      <div class="trophy__title">{{rating.rating}}</div>
    </div>
<!--    <div class="trophy">-->
<!--      <div class="trophy__image"><img class="profile-card__image" src="/assets/images/noImage.png" alt=""></div>-->
<!--      <div class="trophy__title">Награда</div>-->
<!--    </div>-->
  </div>
</section>
<section class="section-profile" *ngIf="dataSource && dataSource.length">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 section-rating__table table-rating table-custom">
    <ng-container matColumnDef="login">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Название </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.tournamentName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="faculty">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Язык программирования </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.label}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="user">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Место </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.grade ? element.grade : '-'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rating">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Задание </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element">
        <input placeholder="Ссылка" type="text" [(ngModel)]="element.task"
               class="input-custom section-modal__input">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="table-custom__cell table-custom__send" *matCellDef="let element" (click)="sendTask(element)">
        <mat-icon>send</mat-icon>
<!--        <mat-icon class="action__edit" >edit</mat-icon>-->
      </mat-cell>
    </ng-container>

    <mat-header-row class="table-custom__header" *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="table-custom__row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</section>
