<section class="section-modal" [formGroup]="form">
  <h2 class="section-modal__title" *ngIf="data.mode === FormMode.ADD">Добавить пользователя</h2>
  <h2 class="section-modal__title" *ngIf="data.mode === FormMode.EDIT">Редактировать пользователя</h2>
  <div class="section-modal__close" (click)="dialogRef.close()">
    <mat-icon class="icon">close</mat-icon>
  </div>
  <div *ngIf="data.mode === FormMode.EDIT" class="edit-user">
    <div class="row3">
      <div><label class="label-input-custom">
        Имя
      </label>
        <input placeholder="Пользователь" formControlName="firstName" type="text"
               class="input-custom section-modal__input"></div>
      <div><label class="label-input-custom">
        Фамилия
      </label>
        <input placeholder="Пользователь" formControlName="secondName" type="text"
               class="input-custom section-modal__input"></div>
      <div>
        <label class="label-input-custom">
        Username
      </label>
        <input placeholder="Пользователь" formControlName="username" type="text"
               class="input-custom section-modal__input">
      </div>
    </div>
    <div class="row3">
      <div>
        <label class="label-input-custom">День рождения</label>
        <div class="datepicker">
          <input [matDatepicker]="picker" class="input-custom" formControlName="birthday"/>
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
      <div></div>
      <div>
      </div>
    </div>
    <div class="row2">
      <div>
        <label class="label-input-custom">
          Номер студенческого билета
        </label>
        <input placeholder="Пользователь" formControlName="studentBookId" type="text"
               class="input-custom section-modal__input">
      </div>

      <div>
        <label class="label-input-custom">
          Instagram
        </label>
        <input placeholder="Пользователь" formControlName="instagram" type="text"
               class="input-custom section-modal__input">
      </div>
    </div>
    <div class="row2">
      <div>
        <label class="label-input-custom">
          VK
        </label>
        <input placeholder="Пользователь" formControlName="vk" type="text"
               class="input-custom section-modal__input">
      </div>

      <div>
        <label class="label-input-custom">
          Instagram
        </label>
        <input placeholder="Пользователь" formControlName="instagram" type="text"
               class="input-custom section-modal__input">
      </div>
    </div>
    <div class="row2">
      <div>
        <label class="label-input-custom">
          Twitter
        </label>
        <input placeholder="Пользователь" formControlName="twitter" type="text"
               class="input-custom section-modal__input">
      </div>

      <div>
        <label class="label-input-custom">
          Facebook
        </label>
        <input placeholder="Пользователь" formControlName="facebook" type="text"
               class="input-custom section-modal__input">
      </div>
    </div>

      <label class="label-input-custom" for="login">
        Описание
      </label>
      <textarea class="profile-card__about input-custom section-modal__textarea"
                formControlName="description"></textarea>

    </div>


    <div *ngIf="data.mode === FormMode.ADD">
      <label class="label-input-custom" for="name">
        Пользователь
      </label>
      <input placeholder="Пользователь" formControlName="firstName" id="name" type="text"
             class="input-custom section-modal__input">

      <label class="label-input-custom" for="login">
        Username
      </label>
      <input placeholder="Логин" id="login" type="text" formControlName="username"
             class="input-custom section-modal__input">
      <label class="label-input-custom" for="password">
        Пароль
      </label>
      <input placeholder="Пароль" id="password" type="password" formControlName="password"
             class="input-custom section-modal__input">
    </div>

    <div class="section-modal__wrap-button">
      <button class="button-custom button-custom_blue" (click)="save()">Сохранить</button>
      <button class="button-custom button-custom_gray" (click)="dialogRef.close()">Отмена</button>
    </div>
</section>
