<section class="section-questions">
  <div class="section-questions__header">
    <h2 class="section-questions__title">Ваши вопросы</h2>
    <mat-icon class="section-questions__icon-add icon-clicked" *ngIf="isAdmin"
              matTooltip="Добавить вопрос" (click)="openAddQuestionModal(FormMode.ADD)">add</mat-icon>
  </div>
  <div class="question-set">

    <article class="question" *ngFor="let f of setQuestions">
      <header class="question__header">
        <h3 class="question__title">
          {{f.description}}
          <span class="question__date">{{f.dateCreated | date: "MMM dd"}}</span>
        </h3>

        <div class="actions" *ngIf="isAdmin">
          <mat-icon class="news__edit icon-clicked" (click)="openAddQuestionModal(FormMode.EDIT)">edit</mat-icon>
          <mat-icon class="news__delete icon-clicked">delete</mat-icon>
        </div>
      </header>
      <p class="question__info">
        {{f.answer}}</p>
    </article>

  </div>

</section>
