<section class="section-questions">
  <div class="section-questions__header">
    <h2 class="section-questions__title">Турниры</h2>

    <mat-icon class="section-questions__icon-add icon-clicked" *ngIf="isAdmin || isSponsor"
              matTooltip="Добавить вопрос" (click)="openUserModal(FormMode.ADD)">add</mat-icon>
  </div>
  <div class="question-set">

    <article class="question" *ngFor="let t of tournaments">
      <header class="question__header">
        <h3 class="question__title">
          {{t.name}}
          <span class="question__date">{{'2021-03-03' | date: "MMM dd"}}</span>
        </h3>


        <div class="actions" *ngIf="isAdmin">
          <mat-icon class="news__edit icon-clicked" (click)="openUserModal(FormMode.EDIT, t)">edit</mat-icon>
          <mat-icon class="news__delete icon-clicked" (click)="delete(t.id)">delete</mat-icon>
        </div>
      </header>
      <div class="tour__block">

        <div>
          <p class="question__info">{{t.task}} </p>
        </div>
        <div class="tour__prize-block">
          <h4>Приз {{t.prize?.name}}</h4>
          <div>{{t.prize?.description}}</div>
          <div class="buttons tour__buttons">
            <button class="tour__button button-custom button-custom_blue" *ngIf="!isSponsor && !isAdmin && !t.myTour" (click)="goToTour(t.id)">Участвовать</button>
            <button class="tour__button button-custom button-custom_blue" *ngIf="!isSponsor && !isAdmin && t.myTour" (click)="deleteUserFromTour(t.id)">Выйти из турнира</button>
            <button class="tour__button button-custom button-custom_blue" *ngIf="((isSponsor && t.sponsorId === user.id) || isAdmin) && t.status === 'CREATED'"
                    (click)="changeStatus(t, 'IN_PROGRESS')">Начать турнир</button>
            <button class="tour__button button-custom button-custom_blue" *ngIf="((isSponsor && t.sponsorId === user.id) || isAdmin) && t.status === 'IN_PROGRESS'"
                    (click)="changeStatus(t, 'CLOSED')">Закончить турнир</button>
            <button class="tour__button button-custom button-custom_blue" routerLink="/tournaments/check/{{t.id}}"
                    *ngIf="((isSponsor && t.sponsorId === user.id) || isAdmin) && t.status === 'CLOSED'">Оценить турнир</button>
          </div>
        </div>
      </div>

    </article>

  </div>

</section>
