<section class="sponsors-section">
  <div class="sponsors-section__header">
    <h2 class="sponsors-section__title">Спонсоры</h2>
    <mat-icon class="sponsors-section__icon-add icon-clicked" *ngIf="isAdmin" matTooltip="Добавить"
              (click)="openAddSponsorModal(FormMode.ADD)">add
    </mat-icon>
  </div>
  <div class="sponsors-set">
    <article class="sponsor" *ngFor="let sponsor of setSponsors">
      <div class="sponsor__settings">
        <mat-icon class="news__edit icon-clicked" *ngIf="isAdmin" (click)="openAddSponsorModal(FormMode.EDIT)">edit</mat-icon>
        <mat-icon class="news__delete icon-clicked" *ngIf="isAdmin" >delete</mat-icon>
      </div>
      <header>
        <img class="sponsor__logo" src="assets/images/DA.png" alt="лого">
        <div class="sponsor__title">{{sponsor.firsName}}</div>
      </header>
      <p class="sponsor__info">{{sponsor.description}}</p>
    </article>
    <article class="sponsor">
      <header>
        <div class="sponsor__title">Стать спонсором</div>
      </header>
      <p class="sponsor__info">Хотите стать спонсором пишите нам на почту</p>
    </article>
  </div>
</section>
